.pio
.idea
.DS_Store
.vscode
lib/EpdFont/fontsrc
lib/I18n/I18nKeys.h
lib/I18n/I18nStrings.h
lib/I18n/I18nStrings.cpp
*.generated.h
.vs
build
**/__pycache__/
/compile_commands.json
/.cache
.history/
/.venv
*.local*

# Android project build artifacts
android/.gradle/
android/app/.cxx/
android/app/build/
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties
android/captures/
android/.externalNativeBuild/

# Nested repo
/crosspoint-reader/
